html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: pink;
}


h1 {
    text-align: center;
    color: white;
}


.center {
    text-align: center;
}


.shop {
    display: inline-block;
    margin: 20px;
}


.footer {
    color: white;
    text-align: right;
    font-style: italic;
    font-family: monospace;
    padding: 10px;
}


img {
    max-width: 100%;
    height: auto;
}


table {
    width: 100vw;
    height: 100vh;
    border-collapse: collapse;
}


td {
    text-align: center;
    font-size: 5vw;
    font-family: Arial, sans-serif;
}


.blue {
    background-color: lightblue;
}

.green {
    background-color: lightgreen;
}
